@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  /* background-color: #e7f0f2; */
  background-color: #c8d0d2;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 98%;
  margin: 1rem 2rem;
  align-self: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  /* background-color: #dde4dc; */
}

.btn {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(200, 100%, 40%);
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  transform-style: preserve-3d;

  transition: 400ms;
  transform: rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  min-height: 300px;
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip {
  --rotate-y: 180deg;
  max-height: 300px;
  color: white;
  /* background-color: rgb(115, 128, 152); */
  background-color: rgb(71, 115, 197);
}

.card .front {
  /* left: 0; */
  flex: 1;
  justify-content: center;
  align-items: center;
}
.card .back {
  /* right: 0; */
  overflow-y: scroll;
  max-height: 250px;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}
.card .back {
  flex: 1;
  transform: rotateY(180deg);
}

/* Add Links page (dashboard)*/

.links {
  margin: 30px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  box-shadow: 0px 6px 38px -16px rgba(38, 37, 37, 0.75);
  -webkit-box-shadow: 0px 6px 38px -16px rgba(38, 37, 37, 0.75);
  -moz-box-shadow: 0px 6px 38px -16px rgba(38, 37, 37, 0.75);
}

.button {
  background-color: white;
  color: #000;
}

.button:hover {
  background-color: red;
  color: white;
}

.edit-delete-btn .button {
  margin: 0 10px;
}

p span a {
  color: #0070f3;
  text-decoration: none;
}

p span a:focus,
p span a:hover,
p span a:active {
  text-decoration: underline;
}
nav a {
  color: #0070f3;
  text-decoration: none;
}
nav a:focus,
nav a:hover,
nav a:active {
  text-decoration: underline;
}

.nav {
  margin-right: auto;
  background: transparent;
  background-color: rgb(209, 221, 228);
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  font-size: 1.2rem;
  top: 0;
  width: 100%;
  z-index: 999;
}
.nav a {
  padding: 10px;
}

.heads {
  display: flex;
  justify-content: center;
}
.heads h1 {
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .nav {
    /* display: block; */
    font-size: 0.8rem;
    height: 60px;
  }
  .nav h1 {
    margin: 5px 20px;
  }
  .nav a {
    padding: 5px;
  }
}
